.container1 ul ul {
  position: static;
  z-index: 999;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  z-index: 999;
}

.container1 {
  height: 450px;
  overflow: hidden;
  overflow: scroll;
}

.container1 ul ul li {
  background: white;
}

.container1 ul li:hover ul {
  /* height: 450px; */
  /* overflow: hidden; */
  overflow: scroll;
}
